{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

    {{ include('includes/_sort.html.twig') }}

{% for task in tasks %}
    <ul>
        <li>Id: {{ task.id }}</li>
        <li>Title: {{ task.title }}</li>
    </ul>
{% endfor %}

        {{ knp_pagination_render(tasks) }}

{% endblock %}